arm_f1_analytics/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "f1-adfws"
        },
        "ls_adls_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_adls'"
        },
        "ls_adls_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://databricksf1extadls.dfs.core.windows.net/"
        },
        "ls_databricks_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0223-073630-uywfmxzv"
        },
        "trigger1_properties_pipeline_parameters_p_window_end_date": {
            "type": "string",
            "defaultValue": "@trigger().outputs.windowEndTime"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/pl_transform_f1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get_folder_details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_adls_bronze",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If folder exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get_folder_details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get_folder_details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "transform_race_results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/transformation/1.race_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "transform_driver_standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "transform_race_results",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/transformation/2.driver_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "transform_constructor_standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "transform_driver_standings",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/transformation/3.constructor_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "transform_calculated_results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/transformation/4.calculated_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "variables": {
                    "p_data_source": {
                        "type": "String",
                        "defaultValue": "Ergast"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-02-23T17:14:56Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_adls_bronze')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_ingest_f1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get_folder_details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_adls_bronze",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If folder exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get_folder_details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get_folder_details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "ingest_circuits_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/1.ingest_circuits_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_races_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_circuits_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/2.ingest_races_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_constructors_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_races_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/3.ingest_constructors_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_drivers_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_constructors_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/4.ingest_drivers_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_results_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_drivers_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/5.ingest_results_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_pit_stops_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_results_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/6.ingest_pit_stops_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_lap_times_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_pit_stops_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/7.ingest_lap_times_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest_qualifying_file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "ingest_lap_times_file",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/Users/uc@11sayand11gmail.onmicrosoft.com/f1_project/ingestion/8.ingest_qualifying_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('p_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "variables": {
                    "p_data_source": {
                        "type": "String",
                        "defaultValue": "Ergast"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-02-23T17:14:56Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_adls_bronze')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_process_f1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute Ingestion",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_ingest_f1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Execute Transformation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute Ingestion",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_transform_f1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-02-23T16:55:01Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_ingest_f1_data')]",
                "[concat(variables('factoryId'), '/pipelines/pl_transform_f1_data')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_adls')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_adls_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_adls_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_databricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-7405606579547046.6.azuredatabricks.net",
                    "authentication": "MSI",
                    "workspaceResourceId": "/subscriptions/97e4ceaa-0a70-407a-b6d4-ed4cae4838dc/resourceGroups/databricks-f1-rg/providers/Microsoft.Databricks/workspaces/databricksucws",
                    "existingClusterId": "[parameters('ls_databricks_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_adls_bronze')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_adls",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@formatDateTime(dataset().p_window_end_date,'yyyy-MM-dd')",
                            "type": "Expression"
                        },
                        "fileSystem": "bronze"
                    }
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "constructorId": {
                            "type": "integer"
                        },
                        "constructorRef": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "nationality": {
                            "type": "string"
                        },
                        "url": {
                            "type": "string"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger1')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "pl_process_f1_data",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "p_window_end_date": "[parameters('trigger1_properties_pipeline_parameters_p_window_end_date')]"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 168,
                    "startTime": "2021-03-14T16:30:00Z",
                    "endTime": "2021-04-25T16:30:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 1,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_process_f1_data')]"
            ]
        }
    ]
}